---
import Navbar from "../components/Navbar";
import NewsWidget from "../components/NewsWidget.astro";
import Footbar from "../components/Footbar.astro";
const { frontmatter } = Astro.props;

import '@fontsource/pt-sans'
import '../styles/globals.css'
import '../styles/bstyles.css'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" 
              href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" 
              integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" 
              crossorigin="anonymous">
		<title>{frontmatter.title}</title>
	</head>
	<body>
        <main>
        <Navbar active="blog" />
        <div class="container-fluid flex flex-wrap bg-white pb-8">
            <div class="w-full md:w-1/4 gx-5 hidden md:block">
            <NewsWidget></NewsWidget>
            </div>
            <div class="w-full md:w-3/4 gx-5">
                <div class="mx-4">
                    <div class="cover-image mt-4" style={{ backgroundImage: `url(${frontmatter.image})` }}></div>
                    <h1 class="display-1 mt-5">{frontmatter.title}</h1>
                    <p id="frontmatter"><b>{frontmatter.date}</b><br/>
                        <b>By {frontmatter.author}</b></p>
                    <slot />
                </div>
            </div>
            <br />
        </div>
        </main>
        <Footbar></Footbar>
    </div>
    </body>
</html>